/*
Colors used:
Primary Color (Black): #000000
Secondary Color (White): #ffffff
*/

body {
    background-color: #ffffff;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #999999;
}
a:hover,
a:focus {
    color: #A3A3A3;
    text-decoration: underline;
}
a:active {
    color: #ffffff;
}

.button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
}
.button.contact:hover {
    background-color: #ffffff;
}
header {
    background-color: #e5e5e5;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
    position: fixed;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) ;
    width: 100%;
}

/* Layout styling */

.container {
    padding: 0 15px;
}
* {
    box-sizing: border-box;
}
.row {
    margin: 25px 0; 
}
.row: :after {
    content: "";
    clear: both;
    display: table;
}

#hero h1 {
    text-align: center;
}
.logo {
    max-width: 250px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000
}
nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000
}
#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#hero span {
    display: block;
}
main {
    padding-top: 133px;
}
[class*="col-"] {
    float: left;
}

@media only screen and (min-width: 640px) {
header 
{ text-align: unset;
padding: 20px 0 13px;
}
nav { 
    width: auto;
    float: right;
    margin-top: 4px;
}
.col-md-6 {
    width: 50%;
}
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1920px) {

}